<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <!--<add name="connstrng" connectionString="Data Source=DESKTOP-47LBI7M\SQLEXPRESS01;Initial Catalog=AnyStore;Integrated Security=True"/>-->
    <!--<add name="connstrng" connectionString="Data Source=(localdb)\servidorAA;Initial Catalog=AnyStore;Integrated Security=True"/>-->
    <add name="connstrng" connectionString="Data Source=DESKTOP-B4OCCKM\MSSQLSERVER01;Initial Catalog=AnyStore;Integrated Security=True"/>
    <!--<add name="connstrng" connectionString="Data Source=DESKTOP-TILKSMM;Initial Catalog=AnyStore;Integrated Security=True"/>-->
    <!--<add name="connstrng" connectionString="Data Source=LAPTOP-GL5L2480 ;Initial Catalog=AnyStore;Integrated Security=True;"/>-->
  </connectionStrings>

    <appSettings>
      <add key="Telefono" value="829-998-4056" />
    </appSettings>
</configuration>
